# Konfigurasi Aplikasi
PORT=3001                           # Port untuk aplikasi utama
DEPLOY_PORT=9001                    # Port untuk server deployment webhook
WEBHOOK_SECRET=966e4df9766f355222c47520796a779c364595ff5e652092424b925d01abdd50  # Secret untuk GitHub webhook (minimal 32 karakter) 